@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    background: linear-gradient(to right, #00aaff, #003366);


}

.hero-container {
    padding: 30px;
}

.hero-min {
    border-style: solid;
    border-width: .2em;
    border-color: #ffffff;
}

/* You can add global styles to this file, and also import other style files */